.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
.venv_spark/
scratch/**
!scratch/README.md
**/explorations/**
**/!explorations/README.md
scripts/temp.py
scripts/temp.ipynb
notebooks/notebook_1.ipynb

# Testing
.pytest_cache/
.coverage
.coverage.* 
.coveragerc
htmlcov/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
